.rvs-close,
.rvs-play-video,
.rvs-error-icon,
.rvs-nav-prev,
.rvs-nav-next,
.rvs-thumb-play .rvs-nav-item-thumb {
	font-family: "Andale Mono",Arial,"Courier New",sans-serif;
	line-height: 1;
	text-align: center;
}
.rvs-close:before,
.rvs-play-video:before,
.rvs-error-icon:before,
.rvs-horizontal .rvs-nav-prev:before,
.rvs-horizontal .rvs-nav-next:before,
.rvs-thumb-play .rvs-nav-item-thumb:before {
	display: inline-block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.rvs-horizontal .rvs-nav-prev,
.rvs-horizontal .rvs-nav-next {
	width: auto;
	height: 78px;
}
.rvs-close:before,
.rvs-error-icon:before {
	content: '\00D7';
}
.rvs-play-video:before,
.rvs-thumb-play .rvs-nav-item-thumb:before {
	content: '\25ba';
}
.rvs-thumb-play .rvs-video-active .rvs-nav-item-thumb:before {
	content: '\25A0';
}
.rvs-nav-prev:before {
	content: '\25b2';
}
.rvs-nav-next:before {
	content: '\25bc';
}
.rvs-horizontal .rvs-nav-prev:before {
	content: '\25c0';
}
.rvs-horizontal .rvs-nav-next:before {
	content: '\25b6';
}

.rvs-container.rvs-flat-circle-play a.rvs-play-video {
	border-radius: 50%;
}
.rvs-container.rvs-flat-circle-play a.rvs-play-video:before {
	padding-left: 4px;
}
.rvs-container.rvs-plain-arrow-play .rvs-item a.rvs-play-video,
.rvs-container.rvs-plain-arrow-play .rvs-item a.rvs-play-video:active,
.rvs-container.rvs-plain-arrow-play .rvs-item a.rvs-play-video:hover,
.rvs-container.rvs-plain-arrow-play .rvs-item a.rvs-play-video:focus {
	background-color: transparent;
	font-size: 50px;
}
.rvs-container.rvs-youtube-play a.rvs-play-video {
	border-radius: 50% 50% 50% 50% / 15% 15% 15% 15%;
	font-size: 24px;
	height: 42px;
}
.rvs-container.rvs-bordered-circle-play .rvs-item a.rvs-play-video,
.rvs-container.rvs-bordered-circle-play .rvs-item a.rvs-play-video:active,
.rvs-container.rvs-bordered-circle-play .rvs-item a.rvs-play-video:hover,
.rvs-container.rvs-bordered-circle-play .rvs-item a.rvs-play-video:focus {
	background-color: transparent;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
}
.rvs-container.rvs-bordered-circle-play a.rvs-play-video:before {
	padding-left: 4px;
}