.rvs-container,
.rvs-item-text,
.rvs-container a.rvs-close,
.rvs-container a.rvs-close:active,
.rvs-container a.rvs-close:focus,
.rvs-container a.rvs-close:hover,
.rvs-container a.rvs-play-video,
.rvs-container a.rvs-play-video:active,
.rvs-container a.rvs-play-video:focus,
.rvs-container a.rvs-play-video:hover,
.rvs-container a.rvs-nav-prev,
.rvs-container a.rvs-nav-prev:active,
.rvs-container a.rvs-nav-prev:focus,
.rvs-container a.rvs-nav-prev:hover,
.rvs-container a.rvs-nav-next,
.rvs-container a.rvs-nav-next:active,
.rvs-container a.rvs-nav-next:focus,
.rvs-container a.rvs-nav-next:hover,
.rvs-nav-item-title,
.rvs-thumb-play .rvs-nav-item-thumb:before,
.rvs-thumb-play .rvs-nav-item-thumb:hover:before {
	color: #FFF;
}
.rvs-container a.rvs-play-video,
.rvs-container a.rvs-play-video:active,
.rvs-container a.rvs-play-video:focus,
.rvs-container a.rvs-play-video:hover {
	border-color: #FFF;
}
.rvs-nav-item-credits {
	color: #767676;
}
.rvs-item-text {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.rvs-container a.rvs-close,
.rvs-container a.rvs-play-video,
.rvs-nav-container span.rvs-nav-item-thumb,
.rvs-thumb-play .rvs-nav-container span.rvs-nav-item-thumb:before {
	background-color: rgba(23, 35, 34, 0.75);
}
.rvs-container,
.rvs-container a.rvs-nav-prev,
.rvs-container a.rvs-nav-next {
	background-color: #151515;
}
.rvs-container a.rvs-nav-item:active,
.rvs-container a.rvs-nav-item:focus,
.rvs-container a.rvs-nav-item:hover,
.rvs-container a.rvs-nav-prev:active,
.rvs-container a.rvs-nav-prev:focus,
.rvs-container a.rvs-nav-prev:hover,
.rvs-container a.rvs-nav-next:active,
.rvs-container a.rvs-nav-next:focus,
.rvs-container a.rvs-nav-next:hover {
	background-color: #000;
}
.rvs-nav-container,
.rvs-container a.rvs-nav-item,
.rvs-container a.rvs-nav-item:active,
.rvs-container a.rvs-nav-item:focus,
.rvs-container a.rvs-nav-item:hover,
.rvs-container a.rvs-nav-prev,
.rvs-container a.rvs-nav-prev:active,
.rvs-container a.rvs-nav-prev:focus,
.rvs-container a.rvs-nav-prev:hover,
.rvs-container a.rvs-nav-next,
.rvs-container a.rvs-nav-next:active,
.rvs-container a.rvs-nav-next:focus,
.rvs-container a.rvs-nav-next:hover {
	border-color: #2E2E2E;
}
.rvs-container a.rvs-nav-item:first-child {
	border-color: #151515;
}
.rvs-container a.rvs-nav-item:first-child:focus,
.rvs-container a.rvs-nav-item:first-child:hover {
	border-color: #000;
}