.rvs-orange-highlight.rvs-container a.rvs-close:active,
.rvs-orange-highlight.rvs-container a.rvs-close:focus,
.rvs-orange-highlight.rvs-container a.rvs-close:hover,
.rvs-orange-highlight.rvs-container a.rvs-play-video:active,
.rvs-orange-highlight.rvs-container a.rvs-play-video:focus,
.rvs-orange-highlight.rvs-container a.rvs-play-video:hover,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active:active,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active:focus,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active:hover,
.rvs-orange-highlight.rvs-thumb-play .rvs-nav-container span.rvs-nav-item-thumb:hover:before,
.rvs-orange-highlight.rvs-thumb-play .rvs-nav-container .rvs-video-active span.rvs-nav-item-thumb:before {
	background-color: #FF8E31;
}
.rvs-orange-highlight.rvs-container a.rvs-play-video:active,
.rvs-orange-highlight.rvs-container a.rvs-play-video:focus,
.rvs-orange-highlight.rvs-container a.rvs-play-video:hover,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active:active,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active:focus,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active:hover,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active:first-child,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active:first-child:active,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active:first-child:focus,
.rvs-orange-highlight.rvs-container a.rvs-nav-item.rvs-active:first-child:hover {
	border-color: #FF8E31;
}