.rvs-container.rvs-horizontal {
	padding-right: 0;
	padding-bottom: 56px;
}

.rvs-horizontal .rvs-item-container,
.rvs-horizontal .rvs-nav-container {
	width: 100%;
}

.rvs-horizontal .rvs-nav-container {
	height: 56px;
	top: auto;
	bottom: 0;
}

.rvs-horizontal .rvs-nav-prev,
.rvs-horizontal .rvs-nav-next {
	left: auto;
	top: 0;
	width: auto;
	height: 56px;
	line-height: 56px;
	border-top: none;
	border-bottom: none;
}
.rvs-horizontal .rvs-nav-prev {
	top: auto;
	left: 0;
	border-right-style: solid;
	border-right-width: 1px;
}
.rvs-horizontal .rvs-nav-next {
	bottom: auto;
	right: 0;
	border-left-style: solid;
	border-left-width: 1px;
}
.rvs-horizontal .rvs-nav-stage {
	-webkit-transform: translateX(0px) translateY(0px);
	-ms-transform: translateX(0px) translateY(0px);
	transform: translateX(0px) translateY(0px);
	height: 100%;
}
.rvs-horizontal .rvs-nav-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	border-top: none;
	border-left-style: solid;
	border-left-width: 1px;
}
.rvs-horizontal .rvs-nav-item:first-child {
	border-left-color: transparent;
	border-left-width: 2px;
}

/* Make sure to override the large thumbs in horizontal mode */
.rvs-large-thumbs.rvs-horizontal .rvs-nav-item-thumb {
	width: 60px;
	height: 60px;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	.rvs-container.rvs-horizontal {
		padding-right: 0;
	}
	.rvs-horizontal .rvs-nav-container {
		width: 100%;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	.rvs-container.rvs-horizontal {
		padding-right: 0;
		padding-bottom: 78px;
	}
	.rvs-horizontal .rvs-nav-prev,
	.rvs-horizontal .rvs-nav-next {
		height: 100%;
		line-height: 78px;
	}
	.rvs-horizontal .rvs-nav-container {
		width: 100%;
		height: 78px;
	}
	.rvs-horizontal .rvs-nav-item {
		height: 100%;
	}
}
/* Chrome hack - for some reason Chrome displays the icon within the button with additional top padding, this is to counter that */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
	@media only screen and (min-width: 768px) {
		.rvs-horizontal .rvs-nav-prev,
		.rvs-horizontal .rvs-nav-next {
			line-height: 74px;
		}
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.rvs-container.rvs-horizontal {
		height: 546px;
		padding-right: 0;
	}
	.rvs-horizontal .rvs-nav-container {
		width: 100%;
	}
}