.rvs-container.rvs-horizontal {
	padding-right: 0;
	padding-bottom: 56px;
}

.rvs-horizontal .rvs-item-container,
.rvs-horizontal .rvs-nav-container {
	width: 100%;
}

.rvs-horizontal .rvs-nav-container {
	height: 56px;
	top: auto;
	bottom: 0;
}

.rvs-horizontal .rvs-nav-container a.rvs-nav-prev,
.rvs-horizontal .rvs-nav-container a.rvs-nav-next {
	left: auto;
	top: 0;
	width: auto;
	height: 56px;
	line-height: 56px;
	border-top: none;
	border-bottom: none;
}
.rvs-horizontal .rvs-nav-container a.rvs-nav-prev {
	top: auto;
	left: 0;
	border-right-style: solid;
	border-right-width: 1px;
}
.rvs-horizontal .rvs-nav-container a.rvs-nav-next {
	bottom: auto;
	right: 0;
	border-left-style: solid;
	border-left-width: 1px;
}
.rvs-horizontal .rvs-nav-container .rvs-nav-stage {
	-webkit-transform: translateX(0px) translateY(0px);
	-ms-transform: translateX(0px) translateY(0px);
	transform: translateX(0px) translateY(0px);
	height: 100%;
}
.rvs-horizontal .rvs-nav-container a.rvs-nav-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	border-top: none;
	border-left-style: solid;
	border-left-width: 1px;
}
.rvs-horizontal .rvs-nav-container a.rvs-nav-item:first-child {
	border-left-color: transparent;
	border-left-width: 2px;
}

/* Make sure to override the large thumbs in horizontal mode */
.rvs-large-thumbs.rvs-horizontal .rvs-nav-container span.rvs-nav-item-thumb {
	width: 60px;
	height: 60px;
}

/* rvs-xs - Custom, iPhone Retina */
/* rvs-sm - Small Devices, Phones */
.rvs-container.rvs-horizontal.rvs-xs.rvs-sm {
	padding-right: 0;
	height: 420px;
}
.rvs-horizontal.rvs-xs.rvs-sm .rvs-nav-container {
	width: 100%;
}
/* rvs-md - Small Devices, Tablets */
.rvs-container.rvs-horizontal.rvs-xs.rvs-sm.rvs-md {
	padding-right: 0;
	padding-bottom: 78px;
	height: 520px;
}
.rvs-horizontal.rvs-xs.rvs-sm.rvs-md .rvs-nav-container a.rvs-nav-prev,
.rvs-horizontal.rvs-xs.rvs-sm.rvs-md .rvs-nav-container a.rvs-nav-next {
	height: 100%;
	line-height: 78px;
}
.rvs-horizontal.rvs-xs.rvs-sm.rvs-md .rvs-nav-container {
	width: 100%;
	height: 78px;
}
.rvs-horizontal.rvs-xs.rvs-sm.rvs-md .rvs-nav-container a.rvs-nav-item {
	height: 100%;
}
/* rvs-lg - Medium Devices, Desktops */
.rvs-container.rvs-horizontal.rvs-xs.rvs-sm.rvs-md.rvs-lg {
	height: 546px;
	padding-right: 0;
}
.rvs-horizontal.rvs-xs.rvs-sm.rvs-md.rvs-lg .rvs-nav-container {
	width: 100%;
}
/* rvs-xl - Large Devices, Wide Screens */