/* rvs-xs - Custom, iPhone Retina */

/* rvs-sm - Small Devices, Phones */
.rvs-container.rvs-xs.rvs-sm {
	padding-right: 150px;
}
.rvs-xs.rvs-sm .rvs-item-text {
	font-size: 16px;
	padding: 14px;
}
.rvs-xs.rvs-sm .rvs-nav-container {
	width: 150px;
}
/* rvs-md - Small Devices, Tablets */
.rvs-container.rvs-xs.rvs-sm.rvs-md {
	height: 467px;
	padding-right: 220px;
}
.rvs-xs.rvs-sm.rvs-md .rvs-item-text {
	font-size: 18px;
	padding: 16px;
}
.rvs-xs.rvs-sm.rvs-md .rvs-nav-container {
	width: 220px;
}
.rvs-xs.rvs-sm.rvs-md .rvs-nav-container a.rvs-nav-item {
	height: 78px;
	padding: 8px 16px;
}
.rvs-xs.rvs-sm.rvs-md .rvs-nav-container h4.rvs-nav-item-title {
	margin: 10px 0 2px 0;
	max-height: 40px;
	line-height: 20px;
	font-size: 16px;
}
.rvs-xs.rvs-sm.rvs-md .rvs-nav-container small.rvs-nav-item-credits {
	font-size: 14px;
}
.rvs-xs.rvs-sm.rvs-md .rvs-nav-container span.rvs-nav-item-thumb {
	display: block;
}
.rvs-xs.rvs-sm.rvs-md .rvs-error-icon {
	border-width: 18px;
	width: 200px;
	height: 200px;
	font-size: 250px;
}
/* rvs-lg - Medium Devices, Desktops */
.rvs-container.rvs-xs.rvs-sm.rvs-md.rvs-lg {
	height: 545px;
	padding-right: 280px;
}
.rvs-xs.rvs-sm.rvs-md.rvs-lg .rvs-item-text {
	font-size: 20px;
	padding: 20px;
}
.rvs-xs.rvs-sm.rvs-md.rvs-lg .rvs-nav-container {
	width: 280px;
}
/* rvs-xl - Large Devices, Wide Screens */
