.rvs-animate .rvs-item-stage,
.rvs-animate .rvs-nav-stage {
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-transition: -moz-transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.rvs-animate .rvs-nav-item {
	-webkit-transition: background-color 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95),border-color 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-transition: background-color 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95),border-color 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: background-color 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95),border-color 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.rvs-animate .rvs-close,
.rvs-animate .rvs-play-video {
	-webkit-transition: background-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95),color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95),opacity 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95),border-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-transition: background-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95),color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95),opacity 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95),border-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: background-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95),color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95),opacity 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95),border-color 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.rvs-animate .rvs-item-content,
.rvs-animate .rvs-item-text {
	-webkit-transition: opacity 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95),-webkit-transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-transition: opacity 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95),-moz-transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: opacity 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95),transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.rvs-animate .rvs-nav-prev,
.rvs-animate .rvs-nav-next {
	-webkit-transition: opacity 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-transition: opacity 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: opacity 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition-delay: 0.5s;
}
.rvs-animate .rvs-nav-prev:hover,
.rvs-animate .rvs-nav-next:hover {
	transition-delay: 0s;
}
.rvs-animate .rvs-nav-item h4,
.rvs-animate .rvs-nav-item small {
	-webkit-transition: color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-transition: color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.rvs-animate .rvs-nav-item span {
	-webkit-transition: background-color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-transition: background-color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: background-color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}